nav {
  // display: none;
  position: fixed;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%; 
  z-index: 1;
  overflow: hidden;
  background: $yellow;

  .nav-columns {
    display: flex;
    padding: 0 32px;
    transform: translateY();

    @include media('<=654px') {
      flex-direction: column;
    }

    @include media('<=phone') {
      padding: 0 16px;
    }

    .nav-column {
      width: 45%;

      @include media('<=654px') {
        width: 100%;
      }

      &:last-child {
        width: 55%;

        @include media('<=654px') {
          width: 100%;

        }
      }

      .nav-label {
        margin-bottom: 3rem;
        font-size: 1.2rem;

        @include media('<=tablet') {
          margin-bottom: 1.4rem;
          font-size: 1rem;
        }

        @include media('<=tablet') {
          margin-bottom: 1.2rem;
          font-size: 0.875rem;
        }
      }

      .nav-links {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          margin-bottom: 2.8rem;

          @include media('<=phone') {
            margin-bottom: 1.6rem
          }
          
          a {
            font-weight: 600;
            font-size: 2.6rem;
            text-decoration: none;
            color: $black;
            
            @include media('<=phone') {
              font-size: 2rem
            }
          }
        }
      }

      .nav-infos {
        .nav-info {
          .nav-info-label {

          }

          li {
            a {

            }
          }
        }
      }
    }
  }
}